<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" tent="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title></title>
</head>
<body>
  <header>
    <div class="menu">
      <h3 class="span"><span > BK Desayunos </span>
    <button>  <a href="../index.html">Inicio</a> </button>
    </h3>
    </div>
  </header>
    <h2 class="cita">Bebidas</h2>
    <div class="container">
 <!-- ////////////////////////////////////////////////// -->

  <div class="card">
    <img src="../media" alt="" class="img">
    
      <span class="cita"> </span>
      <h3 class="h3"></h3>
   <details class="select">
    <summary  class="ingredientes">Ingredientes</summary>
   
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p class="tips">
          <br><br></p>
      </details>
  <!-- ****************************** -->
     <details class="select">
      <summary class="tips">Tips</summary>
      <p><br><br></p>
      <a href="">LINK DE VIDEO</a>
    </details>
<!-- ****************************** -->

  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
    <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
  <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
  
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
    
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->

  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
   
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
  
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
 
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
   
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
  <div class="card">
      <img src="../media" alt=" " class="img">
      <span class="cita">  </span>
      <h3 class="h3"> </h3>
   <details class="select">
    <summary class="ingredientes">Ingredientes</summary>
   
  </details>
  <!-- ****************************** -->
    <details class="select">
        <summary>Preparación: </summary>
        <p><br><br></p>
      </details>
  <!-- ****************************** -->
  <details class="select">
     <summary class="tips1">Tips</summary>
    <p class="tips">

    </p> 
    <a href="">LINK DE VIDEO</a>
  </details> <br>
<!-- ****************************** -->
  </div>
<!-- ////////////////////////////////////////////////////// -->
 
       
    </div>
    <footer>
        <p>&copy; 2025 <i><b>Proyecto Rebeca</b></i> StudioXperto</h3></p>
    </footer>
</body>
</html>
